<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="output.css" />
  <!-- <script src="form.js"></script> -->
  <title>Express</title>
</head>

<body>
  <p class="text-center font-medium text-xl">Login Form</p>
  <div class="flex justify-center p-2 m-2">
    <form id="form" action="/users" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-96">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Full Name
      </label>
      <input class="
            shadow
            appearance-none
            border
            rounded
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          " type="text" id="name" name="name" placeholder="enter your full name" required />
      <label class="block text-gray-700 text-sm font-bold my-2" for="roll">
        Roll No.
      </label>
      <input class="
            shadow
            appearance-none
            border
            rounded
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          " type="text" id="roll" name="roll" placeholder="enter your roll number" required />
      <label class="block text-gray-700 text-sm font-bold my-2" for="email">
        Email Id
      </label>
      <input class="
            shadow
            appearance-none
            border
            rounded
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          " type="email" id="email" name="email" placeholder="Enter your email address" required />
      <div>
        <p class="block text-gray-700 text-sm font-bold my-2">Select Year</p>
        <input type="radio" name="year" value="FE" id="fe" required="required" />
        <label for="fe">FE</label>
        <input type="radio" name="year" value="SE" id="se" />
        <label for="se">SE</label>
        <input type="radio" name="year" value="TE" id="te" />
        <label for="te">TE</label>
        <input type="radio" name="year" value="BE" id="be" />
        <label for="be">BE</label>
      </div>
      <div class="flex flex-col justify-center my-2">
        <p class="block text-gray-700 text-sm font-bold mb-2">
          Select Branch
        </p>
        <div>
          <input type="radio" name="branch" value="INFT" id="inft" required="required" />
          <label for="inft">INFT</label>
        </div>
        <div>
          <input type="radio" name="branch" value="CMPN" id="cmpn" />
          <label for="cmpn">CMPN</label>
        </div>
        <div>
          <input type="radio" name="branch" value="ETRX" id="etrx" />
          <label for="etrx">ETRX</label>
        </div>
        <div>
          <input type="radio" name="branch" value="EXTC" id="extc" />
          <label for="biom">BIOM</label>
        </div>
        <div>
          <input type="radio" name="branch" value="BIOM" id="biom" />
          <label for="extc">EXTC</label>
        </div>
      </div>
      <div class="flex justify-center">
        <input class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        focus:outline-none focus:shadow-outline
        " type="submit" id="submit-form" />
      </div>
    </form>
  </div>
</body>

</html>